.navigationButton {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 45px;
  padding: 5px;

  border-radius: 20px;

  color: #c0c0c0;
  font-size: 13px;
  font-weight: 500;

  transition: background 500ms linear;

  &_active {
    background: #555555;
  }

  &Button:hover {
    opacity: 1;
    background: none;
    outline: none;
    box-shadow: none;
  }

  &Button:active {
    opacity: 1;
    background: none;
    outline: none;
    box-shadow: none;
  }

  &Button:focus {
    opacity: 1;
    background: none;
    outline: none;
    box-shadow: none;
  }
}
