.footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
  background: #3a3a3a;
  border-radius: 50px;
  padding: 0 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;
  }

  &Button {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 45px;
    padding: 5px;

    border-radius: 20px;

    color: #c0c0c0;
    font-size: 13px;
    font-weight: 500;

    transition: background 500ms linear;

    &_active {
      background: #555555;
    }

    &Button:hover {
      opacity: 1;
      background: none;
      outline: none;
      box-shadow: none;
    }

    &Button:active {
      opacity: 1;
      background: none;
      outline: none;
      box-shadow: none;
    }

    &Button:focus {
      opacity: 1;
      background: none;
      outline: none;
      box-shadow: none;
    }
  }
}
